@page
@model ScreeningsModel
@{
    ViewData["Title"] = "Ismertetők";
    var i = 0;
}

<br />
<div class="row">
    @foreach (var screening in Model.Screenings)
    {
        <div class="col panel panel-default">
            <h2 class="lead panel-heading">
                <a asp-page="Occasions" asp-route-screeningId="@screening.Id">@screening.Name</a>
            </h2>
            <div class="panel-body">
                <p class="text-info">Beutaló @(screening.ReferralNeeded ? "szükséges" : "nem szükséges")</p>
                <hr />
                <p class="small">@screening.Description</p>
                <p class="text-right"><a asp-page="Occasions" asp-route-screeningId="@screening.Id">@screening.OccasionNum helyen akár rögtön jelentkezhetsz is szűrésre</a></p>
            </div>
        </div>
    }
</div>